* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar--side {
    width: 200px;
    min-height: calc(100vh - 72.39px);
    background: rgb(230, 230, 230);
}

.nav-item--custom {
    padding: 0.25rem 0;
}

.nav-item__link {
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.container--custom {
    min-height: calc(100vh - 80px);
}

.recipe__wrapper {
    border: 1px solid rgb(248, 248, 248);
    border-radius: 1rem;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
    cursor: pointer;
}

.tag__wrapper {
    background: rgb(255, 196, 0);
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.tag__btn {
    border-radius: 50%;
    border: none;
    padding: 0.25rem 0.625rem;
}

.form--recipe .input--custom:invalid {
    border: 1px solid rgba(255, 0, 0, 0.7);
    outline: 4px solid rgba(255, 0, 0, 0.7);
}
